header {
    background-color: grey;
    display: flex;
}

menu {
    background-color: red;
    align-items: center;
    justify-content: center;
}

menu>p {
    text-align: center;
}

.carrousel {
    align-items: center;
}

footer {
    background-color: grey;
}

#feed {
    display: flex;
    flex-wrap: wrap;
}
.carte {
    border: solid black 2px;
    border-radius: 20px;
    margin-bottom: 20px;
}
