body {
    background: #1b9dcf;
}
header {
    display: flex;
    background:no-repeat center url("../images/header.png");
    height: 30em;
}

menu {
    border: solid rgb(102, 102, 255) 2px;
    border-radius: 20px;
    display:flex;
    height: 4em;
}
menu>p {
    display:flex;
    justify-content: center;
}

.carrousel {
    align-items: center;
}

footer {
    background-color: grey;
}

#feed {
    display: flex;
    flex-wrap: wrap;
    color: #9dff00;
}
.carte {
    border: solid black 2px;
    border-radius: 20px;
    margin-bottom: 20px;
}